.pagination {

      width: 200px;
      margin: 0 auto;

      &__bar {
            background-color: #EEEFF2;
            width: 100%;
            height: 6px;
            margin-bottom: 16px;
            border-radius: 3px;

            &::after{ // розовая часть у бара
                  content: '';
                  display: block;
                  width: var(--width);
                  height: 100%;
                  background-color: #780096;
                  border-radius: 6px;   
            }

      }


      &__arrays {
            display: flex;   
            align-items: center;
            justify-content: center;
            gap: 8px;
      }


     &__info{
      display: flex;
      align-items: center;
      gap: 5px;    
     }
}
